<!DOCTYPE html>
<html>
<head>
  <meta charset="uft-8">
  <title><%= escape_html drop.name %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="<%= asset_path :img, '/images/favicon.ico' %>" rel="shortcut icon">

  <%= social_meta_data_for drop %>

  <%= include_stylesheets :new_viso %>

  <%= include_javascripts :new_viso %>

  <script type="text/javascript" src="//use.typekit.com/hul1akx.js" onload="try{Typekit.load();}catch(e){}" async></script>
</head>

<body id="<%= body_id %>">
  <header id="header">
    <h1 style="display: none;">CloudApp</h1>

    <% unless drop.subscribed? %>
      <a href="http://store.getcloudapp.com/?utm_source=viso&utm_medium=ribbon&utm_campaign=viso-2.0" class="brand">Start sharing</a>
    <% end %>

    <h2><strong><%= escape_html drop.basename %></strong><%= escape_html drop.extension %></h2>

    <ul class="menu">
      <li>
        <a href="#" class="trigger">Menu</a>

        <ul class="drop-down">
          <li><a href="<%= drop.content_url %>">Direct Link</a></li>
          <li><a href="<%= drop.download_url %>">Download Link</a></li>
        </ul>
      </li>
    </ul>
  </header>

  <%= yield %>

  <%= erb :analytics %>
</body>
</html>
