<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title><%= escape_html drop.name %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">

  <link href="<%= asset_path :img, '/images/favicon.ico' %>" rel="shortcut icon">

  <%= social_meta_data_for drop %>

  <script type="text/javascript" src="//use.typekit.com/hul1akx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= include_stylesheets :new_viso %>

  <%= include_javascripts :new_viso %>
  
</head>

<body id="<%= body_id %>">

  <header id="header">

    <% unless drop.subscribed? %>
      <a href="https://itunes.apple.com/us/app/cloud/id417602904?mt=12" class="brand">Share with CloudApp</a>
    <% end %>
    
    <a href="https://itunes.apple.com/us/app/cloud/id417602904?mt=12" class="brand">Share with CloudApp</a>
    
    <h2><strong><%= escape_html drop.basename %></strong><%= escape_html drop.extension %></h2>

    <div class="menu">
      <a href="#" class="trigger">Menu</a>
      <ul class="drop-down">
        <li><a href="<%= drop.content_url %>">Direct link</a></li>
        <li><a href="<%= drop.download_url %>">Download file</a></li>
      </ul>
    </div>
    
  </header>

  <%= yield %>

  <% if ENV['GOOGLE_ANALYTICS_TOKEN'] %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= ENV['GOOGLE_ANALYTICS_TOKEN'] %>']);

      <% if ENV["GOOGLE_ANALYTICS_DOMAIN"] %>
        _gaq.push(['_setDomainName', '<%= ENV['GOOGLE_ANALYTICS_DOMAIN'] %>']);
      <% end %>

      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
</body>
</html>
